


.bg-body-tertiary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 7vw;
    background-color: rgb(123, 195, 243) !important;
    border-bottom: 2px solid rgb(0, 2, 3);
}

.nav-link:hover {
    color: rgb(247, 246, 245);
    text-shadow: 0 2px 15px rgb(2, 2, 2);
}
.logo{
    font-size: 35px;
}

.login{
    padding-left: 50px;
}

.login:hover {
    color: blue !important;
}

.cart{
    padding: 15px;
}