* {
    margin: 0;
    padding: 0;
}

.content {
    background-color: rgb(219, 227, 253);
    padding: 0 7vw;
}

.intro {
    text-align: center;
    width: 100%;
    margin: 0 auto;

}

.intro .intro-image {
    width: 100%;
    margin: 0px auto;
}

.intro .intro-image img {
    width: 100%;
    height: 400px;
}

.intro .intro-image h1 {
    -webkit-text-stroke: 3px black;
    color: rgb(251, 252, 248);
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 50px;
}


.service-types {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 30px;
    padding-left: 170px;

    padding-bottom: 25px;
}

.service-type {
    align-content: center;
    width: 80%;
    padding: 20px;
    padding-right: 30px;

    display: flex;
    flex-wrap: wrap;
    background-color: rgb(123, 195, 243);
    border-radius: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-type img {
    width: 95px;
    height: 95px;
    border-radius: 10px;
}

div.service-type a.button {
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(8, 75, 119);
    background-color: rgb(219, 227, 253);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 50px;

}

div.service-type a.button:hover {
    text-decoration: underline;

}

div.service-type h3 {
    margin-top: 10px;
    font-size: 30px;
    padding-left: 10px;
}

div.service-type p {
    margin-top: 5px;
    padding-left: 100px;
}


@media only screen and (max-width: 1284px) {
    .intro .intro-image h1 {
        display: none;

    }
}