.content {
  background-image: url('../../../../public/images/background5.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 0 7vw;
}

.forms {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;


}

.form-details {
  text-align: center;
  margin-bottom: 20px;
}

.form-details h2 {
  font-size: 50px;
  color: #333;
  font-weight: bold;
  padding-bottom: 15px;

}

.form-content p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 10px;

}

.form-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

.inputs {
  margin-bottom: 15px;
  text-align: center;

}

.inputs input {
  border-radius: 20px;
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputs label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  padding: 15px;
}

.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: 10px;
  color: rgb(123, 195, 243);
  text-decoration: none;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.form-content button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #0a0a0a;
  border: none;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
}

.form-content button:hover {
  background-color: #87c3f7;
}

.link {
  text-align: center;
  margin-top: 20px;
}

.link a {
  color: black;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.top-bar-links ul li a:hover {
  text-decoration: underline;
}